@tailwind base;
@tailwind components;
@tailwind utilities;

.astro-code {
    padding:2rem;
   
    border-radius: 1rem;
    margin:2rem;
    display:flex;
    /* flex-direction:column; */
    /* justify-content:center; */
    /* align-items:center; */
}

@layer components{
    .recipe > ul {
        /* list-style-type: disc !important; */
        @apply font-mono bg-sienna rounded-lg p-4 text-raisin lg:ml-1 lg:mr-2
    }
    .recipe > p {
        /* list-style-type: disc !important; */
        @apply lg:ml-1 lg:mr-2 mt-4 text-justify
    }

    .astro-code {
        @apply mockup-code
    }
}
