---
import Social from "./Social.astro";
---

<footer class="fixed bottom-0 mx-auto w-full bg-everglade-700 p-5 lg:p-10">
  <div class="flex flex-row justify-evenly">
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>
