---
const { tags } = Astro.props;
---

<div class="mt-1 flex justify-center space-x-4 flex-wrap">
    <div 
      data-target="all"
      data-te-chip-init
      data-te-ripple-init
      class="tag-button [word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] bg-everglade-600 py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-everglade-100 hover:bg-everglade-400 shadow-none transition-opacity duration-1500 ease-linear hover:!shadow-none active:bg-everglade-800 dark:bg-neutral-600 dark:text-neutral-200"
      data-te-close="true">
      All
    </div>
   {tags.map((tag) => (
      <div data-target={tag} 
      data-te-chip-init
      data-te-ripple-init
      class="tag-button [word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] bg-everglade-600 py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-everglade-100 hover:bg-everglade-400 shadow-none transition-opacity duration-1500 ease-linear hover:!shadow-none active:bg-everglade-800 dark:bg-neutral-600 dark:text-neutral-200"
      data-te-close="true"
      
      >{tag}</div>
    ))}
  </div>