---
const { frontmatter } = Astro.props;
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle={frontmatter.title}>
<p class="text-xs">Written by {frontmatter.author}</p>

<!-- <h5 class="text-xs text-everglade-900"></h5> -->
  <div class="tags text-xs flex flex-row divide-x align-items-center justify-items-center text-center">
    <span class="p-1 m-1">Tags</span> 
    {frontmatter.tags.map((tag) => (
      <a class="p-1 m-1 hover:text-everglade-900" href={`/tags/${tag}`}>{tag}</a>
    ))}
  </div>
<slot />
</BaseLayout>
